<h2>Design</h2>
<form id="form_camp_step5" onsubmit="return false;">
    <div class="form-group">
      <div class="row" id="mainSplitter_step5">
        <div class="splitter-panel col-md-8">
          <!--左侧编辑-->
          <div class="form-group fmp_dropdown_field">
            <label for="page">Page<code></code></label>
                <div class="input-append">
                    <!--page选择-->
                    <div class="btn-group btn-input">
                        <button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown">
                            <span data-bind="label">Please select a Page</span>&nbsp;<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#step/5">Please select a Page</a></li>
                            {{each(i,page) pages}}
                            <li><a href="#step/5"><span class="pic"><img src="{{= page.imgbase64}}"></span>{{= page.name}}<input type="hidden" value="{{= page.id}}"></a></li>
                            {{/each}}
                        </ul>
                    </div>
                    <!--/page选择-->
                </div>
          </div>
          <div class="form-group" style="clear:both">
            <label for="createives">Messages<code></code></label>
            <textarea name="creatives[body][]" placeholder="Insert message..." class="field"></textarea>
          </div>
          <div class="form-group">
            <label for="link">Link<code></code></label>
            <input type="text" class="form-control" name="link" placeholder="Insert URL..." value="">
          </div>
          <!--test jqx-->
          <div class="form-group">
              <div id='jqxTabs' style="float: left;">
                  <ul style="margin-left: 30px;" id="unorderedList">
                      <li>Product 0</li>
                      <li>Product 1</li>
                      <li canselect='false' hasclosebutton='false'>Add new Product</li>
                  </ul>
                  <div>
                      <div class="form-group">
                          <label for="productLink">Product Link<code></code></label>
                          <input type="text" class="form-control" id="productLink" name="productLink" placeholder="Enter name" value="{{= productLink}}">
                      </div>
                      <div class="form-group">
                          <label for="productDescription">Product Description<code></code></label>
                          <input type="text" class="form-control" id="productDescription" name="productDescription" placeholder="Enter product description" value="{{= productDescription}}">
                      </div>
                      <div class="form-group">
                          <label for="picture">Picture<code></code></label>
                          <form>
                            <input id="file_upload" name="file_upload" type="file" multiple="true" style="display:none">
                            <div id="btn-group">
                                <button class="btn btn-default btn-sm btn-upload">Upload new images <span class="glyphicon glyphicon-plus"></span></button>
                            or
                                <button class="btn btn-default btn-sm btn-upload">Select from your galley <span class="glyphicon glyphicon-plus"></span></button>
                            </div>
                          </form>
                          <div id="adimage0" class="modal-header" style="width:200px;border:none;">
                          </div>
                          <script type="text/javascript">
                            $(function() {
                              $('#file_upload').uploadify({
                                'multi'        : false,
                                'queueSizeLimit' : 1,
                                'fileTypeExts' : '*.gif; *.jpg; *.png',
                                'buttonImage'    : '../../assets/img/transparent.gif',
                                'buttonClass'    : 'uploadify_no_display',
                                'wmode' : 'transparent',
                                'width' :  $("#btn-group > button:nth-child(1)").width()+20,
                                'formData'     : {
                                },
                                'swf'      : '../../assets/widgets/uploadify/uploadify.swf',
                                'uploader' : baseConf.api_prefix+"/create/ajax_upload/@product1",
                                'onUploadSuccess' : function(file, data, response) {
                                     var responseObj = JSON.parse(data);
                                         if(responseObj.err_msg) {
                                             $("#" + file.id).find('.data').css('color', 'red').html(' - ' + responseObj.err_msg);
                                             return;
                                         } else {
                                         $('#adimage0').empty().append('<button type="button" class="close mynewclassclose" data-dismiss="modal" aria-hidden="true"><img src="../../assets/img/modal_close.png"/></button><div class="img-thumbnail" style="height:98px;width:150px;text-align:center;-webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.25);-moz-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.25);box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.25);"><img src="'+responseObj.url+'" style="height:88px;"></div>').css('display','none').fadeIn()
                                         }
                                }
                              });
                            });
                          </script>
                          <script>
                          $("#btn-group").offset({top:$("#file_upload").offset().top,left:$("#file_upload").offset().left})
                          </script>
                      </div>
                  </div>
                  <div>
                    动态创建内容1
                  </div>
                  <div>
                  </div>
              </div>
          </div>
          <!--/test jqx-->
        <!--/左侧编辑-->
    </div>
    <div class="splitter-panel col-md-4">
      <!--右侧预览-->
      <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title">At least</h3>
          </div>
          <div class="panel-body">
          xxx{{= num}} ads 
          </div>
     </div>
      <div class="panel panel-default" id="step3_panel_detail" style="min-height:500px">
          <div class="panel-heading">
              <h3 class="panel-title">Details</h3>
          </div>
          <div class="panel-body">
          </div>
     </div>
     <!--/右侧预览-->
  </div>
</div>
</div>
<footer style="text-align:center">
    <a id="jsProceed" class="btn btn-lg btn-success" href="#step/6" onclick="goStep6();return false;">Proceed</a>
</footer>
</form>
