<h2>Audience</h2>
<form>
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <!--左侧编辑-->
          <div class="form-group">
              <div class="checkbox">
                  <label>
                    <input type="checkbox"> Tracking with Google Analytics
                </label>
            </div>
        </div>
        <!--/左侧编辑-->
    </div>
    <div class="col-md-6">
      <!--右侧预览-->
      <!--/右侧预览-->
  </div>
</div>
</div>
<footer style="text-align:center">
    <a id="jsProceed" class="btn btn-lg btn-success" href="#step/4" onclick="goStep4()">Proceed</a>
</footer>
</form>
