<h2>Design</h2>
<form id="form_camp_step5" onsubmit="return false;">
    <div class="form-group">
      <div class="row">
        <div class="col-md-8" style="border-right:1px solid rgb(207, 207, 207);">
          <!--左侧编辑-->
          <div class="form-group">
            <label for="page">Page<code></code></label>
                    <div class="input-append">
                      <select class="form-control" id="select_page" name="select_page">
                        <option>Please select a page</option>
                      </select>
                    </div>
          </div>
          <div id="fmp_tab_mlproduct"></div>
          <script>$("#fmp_tab_mlproduct").fmp_tab()</script>
        <!--/左侧编辑-->
    </div>
    <div class="col-md-4">
      <!--右侧预览-->
      <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title">At least</h3>
          </div>
          <div class="panel-body">
          xxx{{= num}} ads 
          </div>
     </div>
      <div class="panel panel-default" id="step3_panel_detail" style="min-height:500px">
          <div class="panel-heading">
              <h3 class="panel-title">Details</h3>
          </div>
          <div class="panel-body">
          </div>
     </div>
     <!--/右侧预览-->
  </div>
</div>
</div>
<footer style="text-align:center">
    <a id="jsProceed" class="btn btn-lg btn-success" href="#step/6" onclick="goStep6();return false;">Proceed</a>
</footer>
</form>
