<h2>Publish</h2>
<form id="form_camp_step6">
    <div class="form-group">
        <div class="row" id="mainSplitter_step6">
            <div class="splitter-panel col-md-8">
                <!--左侧编辑-->
                <div class="form-group">
                  <!--确认表格-->
    <script type="text/javascript">
    </script>
    <div id="jqxgrid"></div>
    <a id="jsProceed" class="btn btn-lg btn-success" href="#step/6" onclick="return false;">Publish to Facebook</a>
    <!--/确认表格-->
                </div>
                <!--/左侧编辑-->
            </div>
            <div class="splitter-panel col-md-4">
                <!--右侧预览-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">At least</h3>
                    </div>
                    <div class="panel-body">
                        xxx{{= num}} ads
                    </div>
                </div>
                <div class="panel panel-default" id="step3_panel_detail">
                    <div class="panel-heading">
                        <h3 class="panel-title">Details</h3>
                    </div>
                    <div class="panel-body">
                        {{= detail}}
                    </div>
                </div>
                <!--/右侧预览-->
            </div>
        </div>
    </div>
</form>
