              <h2>Create Campaign</h2>
              <form>
                  <div class="form-group">
                    <label for="campaignName">Name</label>
                    <input type="text" class="form-control" id="campaignName" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Buying Type</label>
                    <select class="form-control">
                        <option value="one">CPC</option>
                        <option value="one">CPM</option>
                        <option value="one">OCPM</option>
                        <option value="one">CPA</option>
                    </select>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Objective</label>
                        <select class="form-control">
                            <option value="1">Multi-Product Ads(Web Click)</option>
                            <option value="2">News feed(Web Click)</option>
                            <option value="3">Right-Hand Column(Web Click)</option>
                        </select>
                    </div>
                </div>
                <footer style="text-align:center">
                  <a id="jsProceed" class="btn btn-lg btn-success" href="#step/2">Proceed</a>
              </footer>
            </form>
