<style type="text/css">
#fmplocation_autocomplete {
    width: 100%;
}

.ui-autocomplete-multiselect {
    width: 100%;height: 34px;padding-top: 0px;
}

.ui-autocomplete-multiselect.ui-state-default {
    width: 100%;
    display: block;
    background: #fff;
    border: 1px solid #ccc;
    padding: 3px 3px;
    padding-bottom: 0px;
    overflow: hidden;
    cursor: text;
}

.ui-autocomplete-multiselect .ui-autocomplete-multiselect-item .ui-icon {
    float: right;
    cursor: pointer;
}

.ui-autocomplete-multiselect .ui-autocomplete-multiselect-item {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1px 0px;
    margin-right: 2px;
    margin-bottom: 3px;
    color: #333;
    background-color: #f6f6f6;
}

.ui-autocomplete-multiselect input {
    display: inline-block;
    border: none;
    outline: none;
    height: auto;
    margin: 2 0px;
    padding-top:3px;
    overflow: visible;
    margin-bottom: 3px;
    text-align: left;
}

.ui-autocomplete-multiselect.ui-state-active {
    outline: none;
    border: 1px solid #7ea4c7;
    -moz-box-shadow: 0 0 5px rgba(50,150,255,0.5);
    -webkit-box-shadow: 0 0 5px rgba(50,150,255,0.5);
    -khtml-box-shadow: 0 0 5px rgba(50,150,255,0.5);
    box-shadow: 0 0 5px rgba(50,150,255,0.5);
}

.ui-autocomplete {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
</style>
<h2>Audience</h2>
<form id="form_camp_step3">
    <div class="form-group">
      <div class="row">
        <div class="col-md-6" style="padding-right:30px;border-right:1px solid rgb(207, 207, 207);">
          <!--左侧编辑-->
          <div class="form-group">
            <label for="fmptemplate">Use existed templates<code></code></label>
                    <select class="form-control" id="fmptemplate">
                      <option value="">-------------- Not Selected --------------</option>
                      {{each(i,tpl) fmptemplate}}
                      <option value="{{= tpl.id}}" {{if tpl.selected}}selected="selected"{{/if}}>{{= tpl.name}}</option>
                      {{/each}}
                    </select>
        </div>
        <div class="form-group">
          <label for="fmplocation">Locations<code></code></label>
                    <input id="fmplocation_autocomplete" type="text" class="form-control" style="-webkit-box-shadow:none;box-shadow:none;" />
        </div>
        <div class="form-group">
          <hr><input type="hidden" name="fmplocation" value="{{= fmplocation}}">
        </div>
        <div class="form-group">
          <label for="age_from">Age from<code></code></label>
              <select class="form-control" id="age_from" name="age_from">
                {{each(i,ag) age_from}}
                <option value="{{= ag.id}}" {{if ag.selected}}selected="selected"{{/if}}>{{= ag.name}}</option>
                {{/each}}
              </select>
              <label for="age_to">Age to<code></code></label>
              <select class="form-control" id="age_to" name="age_to">
                {{each(i,ag) age_to}}
                <option value="{{= ag.id}}" {{if ag.selected}}selected="selected"{{/if}}>{{= ag.name}}</option>
                {{/each}}
              </select>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
            <input type="checkbox" name="age_split" {{if age_split==1}}checked="checked"{{/if}}>split with age
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="age_intval">intval<code></code></label>
              <select class="form-control" id="age_intval" name="age_intval">
                {{each(i,itv) age_intval}}
                <option value="{{= itv.id}}" {{if itv.selected}}selected="selected"{{/if}}>{{= itv.name}}</option>
                {{/each}}
              </select>
        </div>
        <div class="form-group">
              <hr>
        </div>
        <div class="form-group">
          <label for="gender">Gender<code></code></label>
              <select class="form-control" id="gender" name="gender">
                {{each(i,gd) gender}}
                <option value="{{= gd.id}}" {{if gd.selected}}selected="selected"{{/if}}>{{= gd.name}}</option>
                {{/each}}
              </select>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="gender_split" {{if gender_split==1}}checked="checked"{{/if}}>split with gender
            </label>
          </div>
        </div>
        <div class="form-group">
          <hr>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
            <input type="checkbox" name="save_template"> Saved as tempalates
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="template_name">template name<code></code></label>
          <input type="text" class="form-control" id="template_name" name="template_name" placeholder="Enter template name" value="{{= template_name}}">
        </div>
        <!--/左侧编辑-->
    </div>
    <div class="col-md-6">
      <!--右侧预览-->
      <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title">At least</h3>
          </div>
          <div class="panel-body">
          xxx{{= num}} ads 
          </div>
     </div>
      <div class="panel panel-default" id="step3_panel_detail" style="min-height:500px">
          <div class="panel-heading">
              <h3 class="panel-title">Details</h3>
          </div>
          <div class="panel-body">
          detailxxx{{= detail}}
          </div>
     </div>
     <!--/右侧预览-->
  </div>
</div>
</div>
<footer style="text-align:center">
    <a id="jsProceed" class="btn btn-lg btn-success" href="#step/4" onclick="goStep(4);return false;">Proceed</a>
</footer>
</form>
