<h2>Create Campaign</h2>
<form id="form_camp_step6">
    <div class="form-group">
        <!--<label for="billingAccount">Billing Account<code></code></label>-->
        <!--<select class="form-control" id="billingAccount" name="billingAccount">-->
            <!--{{each(i,adaccount) billingAccount}}-->
            <!--<option value="{{= adaccount.id}}" {{if adaccount.selected}}selected="selected" {{/if}}>{{= adaccount.id}} {{= adaccount.name}}</option>-->
            <!--{{/each}}-->
        <!--</select>-->
    </div>
    <footer style="text-align:center">
        <a id="jsProceed" class="btn btn-lg btn-success" href="#step/2" onclick="goStep(2);return false;">Proceed</a>
    </footer>
</form>
