<h2>Audience</h2>
<form>
    <div class="form-group">
      <div class="row">
        <div class="col-md-6" style="padding-right:30px;border-right:1px solid rgb(207, 207, 207);">
          <!--左侧编辑-->
          <div class="form-group">
                    <label for="fmptemplate">Use existed templates</label>
                    <select class="form-control" id="fmptemplate">
                      {{each(i,obj) objective}}
                      <option value="{{= obj.value}}" {{if obj.selected}}selected="selected"{{/if}}>{{= obj.text}}</option>
                      {{/each}}
                    </select>
        </div>
        <div class="form-group">
                    <label for="location">Locations</label>
                    <select class="form-control" id="location">
                      {{each(i,obj) objective}}
                      <option value="{{= obj.value}}" {{if obj.selected}}selected="selected"{{/if}}>{{= obj.text}}</option>
                      {{/each}}
                    </select>
        </div>
        <div class="form-group">
          <label for="split">split</label>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="1" checked>
              yes
            </label>
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="2">
              no
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="intval">intval</label>
              <select class="form-control" id="intval">
                {{each(i,itv) intval}}
                <option value="{{= itv.value}}" {{if itv.selected}}selected="selected"{{/if}}>{{= itv.text}}</option>
                {{/each}}
              </select>
        </div>
        <div class="form-group">
          <label for="age">age</label>
              <select class="form-control" id="age">
                {{each(i,ag) age}}
                <option value="{{= ag.value}}" {{if obj.selected}}selected="selected"{{/if}}>{{= ag.text}}</option>
                {{/each}}
              </select>
        </div>
        <div class="form-group">
          <label for="split">split</label>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="1" checked>
              yes
            </label>
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="2">
              no
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="gender">gender</label>
              <select class="form-control" id="gender">
                {{each(i,gd) gender}}
                <option value="{{= gd.value}}" {{if gd.selected}}selected="selected"{{/if}}>{{= gd.text}}</option>
                {{/each}}
              </select>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
            <input type="checkbox"> Saved as tempalates
            </label>
          </div>
        </div>
        <!--/左侧编辑-->
    </div>
    <div class="col-md-6">
      <!--右侧预览-->
      <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title">At least</h3>
          </div>
          <div class="panel-body">
          xxx{{= num}} ads 
          </div>
     </div>
      <div class="panel panel-default" id="step3_panel_detail" style="min-height:500px">
          <div class="panel-heading">
              <h3 class="panel-title">Details</h3>
          </div>
          <div class="panel-body">
          detailxxx{{= detail}}
          </div>
     </div>
     <!--/右侧预览-->
  </div>
</div>
</div>
<footer style="text-align:center">
    <a id="jsProceed" class="btn btn-lg btn-success" href="#step/4" onclick="goStep5()">Proceed</a>
</footer>
</form>
