<!--fmp_header-->
    <div class="header"></div>
        <a href="/" title="visit fmp"><h1 class="mainlogo"><u style="display:none;">FMP</u></h1></a>
        <span class="beta">beta</span>
        <div class="userarea"><a href="/profiles/" id="user_profile_a"><script id="headerTemplate" type="text/x-jquery-tmpl">${UserName}</script></a> | <a href="../" id="logout_btn" onclick="javascript:return false;">logout</a></div>
        <span class="description">a facebook  partner</span>
    <!--/fmp_header-->