<!--fmp_header-->
    <div class="header">
        <a href="/" title="visit fmp"><h1 class="mainlogo"><u style="display:none;">FMP</u></h1></a>
        <span class="beta">beta</span>
        <div class="userarea"><a href="/profiles/" id="user_profile_a"></a> | <a href="../" id="logout_btn" onclick="javascript:return false;">logout</a>
            <span class="description">a facebook  partner</span>
        </div>
    </div>
    <script id="headerTemplate" type="text/x-jquery-tmpl">${UserName}</script>
    <!--/fmp_header-->