<!--fmp_navibar-->
        <div class="navibar">
            <div class="navi">
                <ul>
                    <li><a href="../camps/">YOUR CAMPAIGNS</a></li>
                    <li><a href="../newcamp/">NEW CAMPAIGN</a></li>
                    <li><a href="../report/">REPORT</a></li>
                    <li><a href="../settings/">SETTINGS</a></li>
                </ul>
                <div id="camp_select_div">
                    select camp:
                    <select>
                        <option>please select</option>
                        <option>xxxxx</option>
                    </select>
                </div>
            </div>
        </div>
        <!--/fmp_navibar-->