@import url("../bootstrap.css");
@import url("../bootstrap-theme.css");
body{
	margin:0;
}

h3.fmp_tit{
	margin-top:120px;
	font-size:3em;
	font-family: 'Freight Sans Bold', 'lucida grande',tahoma,verdana,arial,sans-serif !important;

}
h3.fmp_tit > small{
    padding-left:12px;
}
table{
	line-height: 3em;
}
form[name=frmlogin] > table{
    margin-left: 10%;
}
code{
	padding:0;
	margin-left: 10px;
}
.n-inputbox{
	width:450px;
}

#email,#passwd{
	width:170px !important;
	line-height: 18px !important;
}
.login_btn{
	margin-right:20%;
}
tr:nth-child(1) > td:nth-child(2){
	text-align: left;
}
tr:nth-child(2) > td:nth-child(2){
	text-align: left;
}
tr:nth-child(3) > td{
	text-align: center;
}


#json_data{
    display:none;
}
#debug_window{
    padding:20px;
    /*height:200px;*/
    background-color:gray;
    border:1px solid white;
    color:white;
    /*display:none;*/
}
#camp_select_div{
    padding-top:4px;
    margin-right: 10px;
    float:right;
}


.btn-primary {
/*padding: 10px 16px;
font-size: 20px;
line-height: 1.33;
border-radius: 6px;
color: #fff;
background-color: #5cb85c;
border-color: #4cae4c;
text-shadow: 0 2px 0 rgba(0,0,0,0.3);
background-image: -webkit-linear-gradient(top,#5cb85c 0,#4cae4c 100%);
background-image: linear-gradient(to bottom,#5cb85c 0,#4cae4c 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c',endColorstr='#ff4cae4c',GradientType=0);
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 3px 0 #357935;
box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 3px 0 #357935;
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
background-repeat: repeat-x;
border-color: #3e8f3e;
white-space: normal;*/
font-size: 22px;
padding: 10px 20px;
}

.btn-primary:hover {
/*background-color: #47a447;
border-color: #398439;
text-decoration: none;
}