.main-content-single .info_left_from_add_fb{
    font-size:12px;
    font-weight:bold;
    float:left;
    width:57.14285714285714%;
    text-shadow: 0 1px 0 #fff;
}
.main-content-single .add_fb {
    float:right;
}
.abtn:hover{
	color:white;
}
.abtn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #ccc;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
}
.abtn-large {
    padding: 11px 19px;
    font-size: 17.5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.abtn-facebook {
    color: #fff;
    text-shadow: none;
    background-color: #344e85;
    background-image: -moz-linear-gradient(top,#3b5998,#283d68);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#3b5998),to(#283d68));
    background-image: -webkit-linear-gradient(top,#3b5998,#283d68);
    background-image: -o-linear-gradient(top,#3b5998,#283d68);
    background-image: linear-gradient(to bottom,#3b5998,#283d68);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998',endColorstr='#ff283d68',GradientType=0);
    border-color: #283d68 #283d68 #131d31;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    margin-right:12px;
}
.abtn-facebook::before {
    content: "\f09a";
    font-family: "FontAwesome";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    font-size:22px;
    padding-right:10px;
}
.abtn-facebook.abtn-large {
    font-size: 14px;
    padding: 12px 34px;
    text-decoration:none;
}

.accounts-list {
    clear: both;
    padding: 10px;
    text-align: left;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 4px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 4px 0 rgba(0,0,0,0.1);
    box-shadow: 0 4px 0 rgba(0,0,0,0.1);
}
.accounts-list .total {
    font-size:13px;
    display: inline-block;
    padding-right: 10px;
    margin-right: 10px;
    font-weight: bold;
    text-transform: uppercase;
    border-right: 1px solid rgba(0,0,0,0.1);
    -webkit-box-shadow: 1px 0 0 #fff;
    -moz-box-shadow: 1px 0 0 #fff;
    box-shadow: 1px 0 0 #fff;
}

.accounts-list .info {
    display: inline-block;
    font-size: 12px;
    color: #666c75;
}
