#fmp_leftmenu {
    width: 120px;
    border-style: solid solid none solid;
    border-color: #94AA74;
    border-size: 1px;
    border-width: 1px;
    margin: 10px;
}
    
#fmp_leftmenu li {
    height: 42px;
    voice-family: "\"}\""; 
    voice-family: inherit;
    text-decoration: none;
    background-color:white;
    padding:12px;
    font-size: 16px;
    color:rgb(128, 128, 128);
}
    
#fmp_leftmenu li a:link, #fmp_leftmenu li a:visited {
    color: #5E7830;
    display: block;
    background: url(images/fmp_leftmenu1.gif);
    padding: 8px 0 0 10px;
}
    
#fmp_leftmenu li a:hover {
    color: #26370A;
    background: url(images/fmp_leftmenu1.gif) 0 -32px;
    padding: 8px 0 0 10px;
}
    
#fmp_leftmenu li a:active {
    color: #26370A;
    background: url(images/fmp_leftmenu1.gif) 0 -64px;
    padding: 8px 0 0 10px;
}
#fmp_leftmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
