body {
	line-height: 1;
	color: black;
	background: white;
}

body {
	font: 14px "Helvetica Neue", Arial, Verdana, sans-serif;
}

body * {
	line-height: 1.22em;
}

ol, ul {
	list-style: none;
}

body.theme_blue #header #main-navigation {
	background: url("../imgs/navbar.png") 0px -100px repeat-x;
}

#header {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 100;
}

#header #adv-navbar {
	background: #000 url("../../i/dashboard/sprites/horizontal_background_sprite.png") repeat-x left -900px;
	height: 30px;
	color: #FFF;
	border-bottom: 1px solid #000;
}

#header #adv-navbar h1.adv-title {
	float: left;
	margin-left: 10px;
}

#header #adv-navbar h1.adv-title a.current-adv {
	background: url("../../i/dashboard/sprites/button_sprite.png") right -3137px no-repeat;
	color: #FFF;
	text-decoration: none;
	line-height: 30px;
	padding: 0px 15px 0px 0px;
	text-shadow: 0px -1px 0px #000;
	float: left;
	font-size: 13px;
	font-family: "Helvetica Neue", Arial, Verdana, sans-serif;
}

#header #adv-navbar .currency-switch {
	line-height: 2em;
	cursor: pointer;
}

#header #adv-navbar .currency-switch .currency-trigger {
	padding-right: 1em;
	margin-right: .5em;
	font-size: 13px;
}

#header #adv-navbar .currency-switch .trigger-arrow {
	background: url("../../i/dashboard/sprites/button_sprite.png") right -3144px no-repeat;
}

#header #main-navigation {
	height: 50px;
	padding: 0px 0px 4px 0px;
}

#header .nav-standard {
	float: left;
	margin-top:0px;
}

#header .nav-standard > li {
	float: left;
	min-width: 150px;
}

#header .nav-standard > li .button-nav {
	border-right: 1px solid #268fc0;
}

#header .nav-standard > li .button-nav strong {
	border-right: 1px solid #003f79;
}

#header .nav-standard > li .button-nav:active, #header .nav-standard > li .button-nav.selected {
	border-right: 1px solid #0379a7;
	padding-left: 1px;
	margin-left: -1px;
}

#header .nav-standard > li .button-nav:active strong, #header .nav-standard > li .button-nav.selected strong {
	border-right: none;
}

#header .nav-standard > li#nav-dash .button-nav {
	position: relative;
}

#header .nav-standard > li#nav-dash .button-nav .hover-arrow {
	border-radius: 2px;
	box-shadow: inset 0px 1px 2px rgba(255, 255, 255, 0.6), 0px 1px 2px rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 17px;
	right: 10px;
	width: 16px;
	z-index: 1;
	height: 16px;
}

#header .nav-standard > li#nav-dash .button-nav .hover-arrow:hover {
	background: #35c6fc;
}

#header .nav-standard > li#nav-dash .button-nav .hover-arrow:active, #header .nav-standard > li#nav-dash .button-nav .hover-arrow.selected {
	box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.6), 0px 1px 2px rgba(255, 255, 255, 0.6);
	background: #007cac;
}

#header .nav-standard > li#nav-dash .button-nav .hover-arrow strong {
	text-indent: -4000px;
	overflow: hidden;
	display: block;
	width: 0;
	height: 0;
	padding: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #fff;
	margin: auto;
	margin-top: 6px;
}

#header .nav-settings {
	float: right;
}

#header .nav-settings > li {
	width: 60px;
	float: right;
	position: relative;
}

#header .nav-settings > li .button-nav {
	border-left: 1px solid #003f79;
}

#header .nav-settings > li .button-nav strong {
	border-left: 1px solid #268fc0;
}

#header .nav-settings > li .button-nav:active, #header .nav-settings > li .button-nav.selected {
	border-left: 1px solid #0379a7;
	padding-left: 1px;
	margin-right: -2px;
}

#header .nav-settings > li .button-nav:active strong, #header .nav-settings > li .button-nav.selected strong {
	border-left: none;
}

#header .nav-settings > li #new-message-badge {
	border-radius: 30px;
	background: #cc0000;
	background: linear-gradient(#F00, #900);
	background: -o-linear-gradient(#F00, #900);
	box-shadow: inset 0px 6px 2px rgba(255, 255, 255, 0.6), 0px 2px 3px rgba(0, 0, 0, 0.6);
	border: solid 2px #fff;
	color: #fff;
	position: absolute;
	display: block;
	z-index: 500;
	padding: 2px;
	right: 3px;
	top: 3px;
	min-width: 14px;
	line-height: 14px;
	font-size: 9px;
	text-align: center;
}

#header .button-nav {
	font-size: 14px;
	padding: 0px;
	position: relative;
	display: block;
	text-decoration: none;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	font-family: "Avant-Demi", "Helvetica Neue", Arial, Verdana, sans-serif;
	color: #FFF;
}

#header .button-nav:active, #header .button-nav.selected {
	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25);
	background: #0b4b73;
}

#header .button-nav .badge {
	background: #d00d00;
	background: linear-gradient(#fc1900, #a50100);
	background: -o-linear-gradient(#fc1900, #a50100);
	border-radius: 30px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
	display: block;
	color: #FFF;
	text-align: center;
	font-size: 10px;
	padding: 4px;
	height: 12px;
	min-width: 12px;
	position: absolute;
	top: -8px;
	left: -8px;
	z-index: 10;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.7);
	font-family: "Helvetica Neue", Arial, Verdana, sans-serif;
}

#header .button-nav strong {
	display: block;
	line-height: 50px;
	padding-left: 38px;
	text-align: left;
	overflow: hidden;
	padding-right: 15px;
}

#header .button-nav strong.icon_logo {
	background: url("../../i/dashboard/sprites/button_sprite.png") 37px -1584px no-repeat;
	text-indent: -4000px;
}

#header .button-nav strong.icon_arrow {
	text-indent: -4000px;
	padding: 0;
}

#header .button-nav strong.icon_arrow .arrow {
	position: absolute;
	display: block;
	z-index: 10;
	width: 0;
	height: 0;
	padding: 0;
	top: 20px;
	left: 8px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 10px solid #fff;
}

#header .button-nav strong.icon_graph {
	background: url("../../i/dashboard/sprites/button_sprite.png") 9px -1533px no-repeat;
}

#header .button-nav strong.icon_crown {
	background: url("../../i/dashboard/sprites/button_sprite.png") 9px -1733px no-repeat;
}

#header .button-nav strong.icon_users {
	background: url("../../i/dashboard/sprites/button_sprite.png") 9px -1785px no-repeat;
}

#header .button-nav strong.icon_ads {
	background: url("../../i/dashboard/sprites/button_sprite.png") 9px -1484px no-repeat;
}

#header .button-nav strong.icon_mail {
	background: url("../../i/dashboard/sprites/button_sprite.png") 18px -1633px no-repeat;
	text-indent: -4000px;
}

#header .button-nav strong.icon_user {
	background: url("../../i/dashboard/sprites/button_sprite.png") 20px -1684px no-repeat;
	text-indent: -4000px;
}

#header .button-nav strong.icon_help {
	background: url("../../i/dashboard/sprites/button_sprite.png") 20px -3895px no-repeat;
	text-indent: -4000px;
}